---
import { getCollection } from 'astro:content'
import PageLayout from "../../layouts/Page.astro"
import Pagination from "../../components/Pagination.astro";
import VacancyCard from "../../components/VacancyCard.astro";
import Rss from "../../components/RssChanels.astro"
import {filterPosts} from "../../js/utils.js";

const vacancies = filterPosts(await getCollection('vacancies'))
export async function getStaticPaths({ paginate }) {
    return paginate(filterPosts(await getCollection('vacancies')), {
        pageSize: 20,
    })
}
const { page } = Astro.props;
---
<PageLayout title="Новини ОСББ Три сусіди 1">
    <section class="container-fluid pb-4 pt-6">
        <div class="container">
            <div class="row" style="--grid-gutter: 40px;">
                <div class="cell-md-8 border-right bd-default pr-8">
                    <div class="">
                        {
                            page.data.map( (v) => <VacancyCard vacancies={v} />)
                        }
                    </div>
                    <div class="mt-4">
                        <Pagination length={page.lastPage}
                                    currentUrl={page.url.current}
                                    currentPage={page.currentPage}
                                    firstUrl={`/vacancies`}
                                    prevUrl={page.url.prev}
                                    nextUrl={page.url.next}
                                    lastUrl={`/vacancies/${page.lastPage}`}
                        />
                    </div>
                </div>
                <div class="cell-md-4">
                    <div class="">
                        <h1 class="d-flex flex-row flex-nowrap flex-align-center">
                            <span>Вакансії</span>
                            <span class="posts-counter ml-auto">{vacancies.length}</span>
                        </h1>

                        <div class="blog-sidebar-group">
                            <div class="text-bold border-bottom bd-default">Контакти</div>
                            <address class="mt-4 text-light">
                                <div class="text-bold">Голова правління</div>
                                <div class="h3">Григорова Юлія Русланівна</div>
                                <div><span class="mif-phone mr-1"></span><a class="fg-dark" href="tel:+380588611229">(068) 861-1229</a></div>
                                <div><span class="mif-email mr-1"></span><a class="fg-dark" href="mailto:head@trysusidy.kyiv.ua">head@trysusidy.kyiv.ua</a></div>
                            </address>
                        </div>

                        <div class="blog-sidebar-group">
                            <Rss/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</PageLayout>
<style is:global>
    @import "../../styles/blog.css";
</style>