---
import Page from "../layouts/Page.astro"
import Hero from "../components/Hero.astro"
import {filterPosts} from "../js/utils.js";
import {getCollection} from "astro:content";
import NewsCard from "../components/NewsCard.astro";
import Rss from "../components/RssChanels.astro"
import AdsCard from "../components/AdsCard.astro";

const news = filterPosts(await getCollection("news", {limit: 5}))
const vacancies = filterPosts(await getCollection("vacancies"))
const ads = filterPosts(await getCollection("ads"), {limit: 5})
---
<Page title="Три сусіди 1 - Об'єднання співвласників багатоквартирних будинків">
    <Hero/>

    <div class="container-fluidmb-10 highlight-block">
        <div class="container">
            <div class="text-light">
                ОСББ "Три сусіди 1" розташовано на розі вулиць пр-т Петра Григоренка та Ганни Ахматової в 10 хвилинах
                від метро "Позняки". Хоча конструктивно це один будинок, ОСББ об'єднує 3 адреси: пр-т П. Григоренка 24, Г. Ахматової 31 та Г. Ахматової 33.
                Будинок має затишний внутрішній двір з деревами та дитячим майданчиком.
                 В будинку розташовані поштове відділення Укрпошти (02055), Нової пошти
                (255), центр зору, та медичний центр Візіум, стоматологічні клініки, аптека.
                Во дворі є підземний паркінг. Для зручності мешканців в під'їздах встановлено поштомати Нової пошти.
            </div>
        </div>
    </div>


    <div class="container-fluid mt-10 mb-10">
        <div class="container">
            <div class="text-center h2 text-bold">Загалом нас</div>
            <div class="row">
                <div class="cell-xl-3 cell-sm-6">
                    <div class="h-100 pt-10 pb-10 border bd-gray border-radius-20 text-center">
                        <div class="display3 text-bold fg-grayMouse" data-role="counter" data- data-autostart="false"
                             data-value="504">504
                        </div>
                        <div>Кількість квартир</div>
                    </div>
                </div>

                <div class="cell-xl-3 cell-sm-6">
                    <div class="h-100 pt-10 pb-10 border bd-gray border-radius-20 text-center">
                        <div class="display3 text-bold fg-grayMouse" data-role="counter" data-autostart="false"
                             data-value="40505">40,505
                        </div>
                        <div>Житлова площа (м2)</div>
                    </div>
                </div>

                <div class="cell-xl-3 cell-sm-6">
                    <div class="h-100 pt-10 pb-10 border bd-gray border-radius-20 text-center">
                        <div class="display3 text-bold fg-grayMouse" data-role="counter" data-autostart="false"
                             data-value="16">16
                        </div>
                        <div>Кількість нежитлових приміщень</div>
                    </div>
                </div>

                <div class="cell-xl-3 cell-sm-6">
                    <div class="h-100 pt-10 pb-10 border bd-gray border-radius-20 text-center">
                        <div class="display3 text-bold fg-grayMouse" data-role="counter" data-autostart="false"
                             data-value="2106">2,106
                        </div>
                        <div>Не житлова площа (м2)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mb-10">
        <div class="container border-top bd-default pt-10">
            <div class="row">
                <div class="cell-xl-7 border-right bd-default pr-10">
                    <div class="h4 fg-red text-bold border-bottom bd-default pb-2 mb-6">Реквізити для добровільного внеску на альтернативні джерела живлення</div>
                    <table class="table striped mb-10">
                        <tbody>
                        <tr>
                            <td>Назва</td>
                            <td><strong>ОСББ “Три сусіди 1”</strong></td>
                        </tr>
                        <tr>
                            <td>ЄДРПОУ</td>
                            <td><strong>42337908</strong></td>
                        </tr>
                        <tr>
                            <td>Рахунок</td>
                            <td><strong>UA383052990000026007046712057</strong></td>
                        </tr>
                        <tr>
                            <td>Банк</td>
                            <td><strong>АТ КБ “Приватбанк”</strong></td>
                        </tr>
                        <tr>
                            <td>Призначення</td>
                            <td><strong>Добровільний внесок на придбання альтернативних джерел живлення
                                (ОР-ХХХХ)</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="reduce-2">*) Замість ОР-ХХХХ вкажіть свій особовий рахунок </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="h3 text-bold border-bottom bd-default pb-2 mb-6">Новини нашого ОСББ</div>
                    {
                        news.map(n =>
                                <NewsCard news={n}/>)
                    }

                    <div class="h3 text-bold border-bottom bd-default pb-2 mb-6">Останнє з дошки оголошень</div>
                    <div class="ads-board">
                    {
                        ads.map(n =>
                                <AdsCard ads={n} pin="true"/>)
                    }
                    </div>
                </div>

                <div class="cell-xl-5">
                    <div class="sidebar-group">
                        <div class="text-center border bd-default p-4 border-radius-20 op-green d-flex flex-column flex-justify-center flex-align-center">
                            <div class="h3 text-bold fg-darkGreen">Збір на генератори</div>
                            <div data-role="donut" data-size="200" data-value="340784" data-total="2500000" data-stroke="#e8e8e8" data-fill="green"></div>
                            <div class="text-center mt-4">
                                <div>Мета: <b>2,500,000</b> грн</div>
                            </div>
                            <div class="text-center mt-4">
                                вже зібрано:
                            </div>
                            <div class="display3 text-bold mt-4 fg-darkGreen">340,784</div>
                            <small class="text-leader">грн</small>
                        </div>
                    </div>

                    <div class="sidebar-group">
                        <div class="text-bold">Діюча ставка членських внесків</div>
                        <div class="display3 text-center border bd-default p-4 border-radius-20">6.95 <small
                                class="reduce-5">грн/м2</small></div>
                    </div>

                    <div class="sidebar-group">
                        <div class="text-bold">Сервісні служби ОСББ</div>
                        <div class="row mt-4">
                            <div class="cell-6">
                                <div>Диспетчер</div>
                                <div><span class="mif-phone mr-1"></span>(095) 503-9099</div>
                                <div><span class="mif-phone mr-1"></span>(098) 465-3919</div>
                            </div>
                            <div class="cell-6 bg-red fg-white p-4 border-radius-20">
                                <div>Аварійна</div>
                                <div><span class="mif-phone mr-1"></span>(044) 361-4863</div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-group">
                        <div class="text-bold">Відкриті вакансії</div>
                        <table class="table striped">
                            <tbody>
                            {
                                vacancies.map(v => (
                                        <tr>
                                            <td>
                                                <div class:list={["vacancy-card__title", {"fg-red": v.data.important}]}>{v.data.title}</div>
                                            </td>
                                            <td class="text-right">
                                                <div class:list={["vacancy-card__salary"]}>{v.data.salary} грн</div>
                                            </td>
                                        </tr>
                                ))
                            }
                            </tbody>
                        </table>
                        <div class="border-top bd-default pt-4">
                            <a href="/vacancies">Детальніше...</a>
                        </div>
                    </div>

                    <div class="sidebar-group">
                        <Rss/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</Page>
