---
import {Image} from "astro:assets"
import pinImage from "../../assets/pin.png"
import {datetime} from "@olton/datetime";
const { ads, pin = false } = Astro.props
const {title, price = 0, urgently = false, color = "normal", date, contact = "Василій Пупкін", phone = "(xxx) xxx-xxxx"} = ads.data
const {Content} = await ads.render()
import {createExcerpt} from "../js/create-excerpt"
---

<div class:list={["ads-card", color]}>
    <div class:list={["pin", {"d-none": !pin}]}>
        <Image src={pinImage} alt="" height="48"/>
    </div>
    <div class:list={["ads-card__title", {"fg-red": urgently}]}>{title}</div>
    <div class:list={["ads-card__date"]}>{datetime(date).format("DD/MM/YYYY")}</div>
    <div class:list={["ads-card__price", {"d-none": price === 0}]}>{price} грн</div>
    <div class="ads-card__description">
        <div class="mt-4 mb-4" set:html={createExcerpt(ads.body)}></div>
    </div>
    <div class="ads-card__actions">
        <a href=`/ads/${ads.slug}` class="button outline bd-dark">Більше інформації</a>
    </div>
</div>