---
const { url= Astro.request.url, label = 'Поділитися:', title = 'ОСББ Три сусіди 1', className = ''} = Astro.props;

let facebookURL = `https://www.facebook.com/sharer/sharer.php?u=${url}`
let linkedinURL = `https://www.linkedin.com/sharing/share-offsite/?url=${url}`
let twitterURL = `https://twitter.com/intent/tweet?url=${url}&text=${title}`
---
<div class={className}>
    <ul class="share-links">
        <li><a href={facebookURL} target="_blank" title="Share on Facebook"><span class="mif-facebook"></span></a></li>
        <li><a href={linkedinURL} target="_blank" title="Share on LinkedIn"><span class="mif-linkedin"></span></a></li>
        <li><a href={twitterURL} target="_blank" title="Share on Twitter"><span class="mif-twitter"></span></a></li>
    </ul>
</div>
