---
import { getCollection } from 'astro:content'
import PageLayout from "../../layouts/Page.astro"
import Pagination from "../../components/Pagination.astro";
import AdsCard from "../../components/AdsCard.astro";
import Rss from "../../components/RssChanels.astro"
import {filterPosts} from "../../js/utils.js";

const ads = filterPosts(await getCollection('ads'))
export async function getStaticPaths({ paginate }) {
    return paginate(filterPosts(await getCollection('ads')), {
        pageSize: 20,
    })
}
const { page } = Astro.props;
---
<PageLayout title="Об'яви жільців ОСББ Три сусіди 1">
    <section class="container-fluid pb-4 pt-6">
        <div class="container">
            <div class="row" style="--grid-gutter: 40px;">
                <div class="cell-md-8 border-right bd-default pr-8">
                    <div class="">
                        {
                            page.data.map( (v) => <AdsCard ads={v} />)
                        }
                    </div>
                    <div class="mt-4">
                        <Pagination length={page.lastPage}
                                    currentUrl={page.url.current}
                                    currentPage={page.currentPage}
                                    firstUrl={`/ads`}
                                    prevUrl={page.url.prev}
                                    nextUrl={page.url.next}
                                    lastUrl={`/ads/${page.lastPage}`}
                        />
                    </div>
                </div>
                <div class="cell-md-4">
                    <div class="">
                        <h1 class="d-flex flex-row flex-nowrap flex-align-center">
                            <span>Об'яви</span>
                            <span class="posts-counter ml-auto">{ads.length}</span>
                        </h1>

                        <div class="blog-sidebar-group">
                            Ласкаво просимо до нашої дошки оголошень! Тут ви можете поділитись своєю об’явою з іншими мешканцями нашого будинку.
                            <br/>
                            <br/>
                            <div class="p-6 border bd-default border-radius-20 reduce-2">
                                <span class="mif-email"></span>
                                <b>Щоб опублікувати оголошення:</b> відправте його на адресу <a href="mailto:admin@trysusidy.kyiv.ua">admin@trysusidy.kyiv.ua</a>, вкажіть назву, ціну та опис, якщо є, додайте зображення і ваше оголошення буде опубліковане якнайшвидше!
                                <div class="mt-4 mb-4">або</div>
                                <a href="/ads/create" class="button outline bd-dark">Створити об'яву швидко</a>
                            </div>
                        </div>

                        <div class="blog-sidebar-group">
                            <Rss />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</PageLayout>
<style is:global>
    @import "../../styles/blog.css";
</style>